*{
    padding:0;
    margin:0 ;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:Montserrat;
        background: linear-gradient(to bottom, #e41978, #f6f9f9 50%, #73d9ed);
        height: 100vh;
        margin: 0;
}
nav{
    background:rgb(192, 30, 113);
    color:white;
    height:70px;
    width:100%;
}
label.logo{
    float: right;
    color:white;
    font-size:35px;
    line-height:80px;
    padding:0 100px;
    font-weight: bold;
}
nav ul{
    float:left;
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding:7px 13px;
    border-radius: 15px;
    text-transform: uppercase;

}
a.home,a:hover{
    background:rgb(238, 73, 141);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    color: white; 
    line-height: 80px;
    margin-right: 40px; 
    cursor: pointer;
    display:none;
    font-family: Fontawesome;
    content:"\f0c9";
    width: 30px;
    height: 30px;
    text-align: center;
}
#check{
    display: none; 
}
#welcome{
    align-items: center;
}
.wel{
    color: #950649;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    display:block;
    margin-left: 250px;
    margin-top: 60px;
    margin-right: 50px;

}
.explore{
    color: #f6f9f9;
    background-color: #950649;
    border-color: #950649;
    border-radius: 30px;
    padding: 5px;
    box-shadow: #1b010d;
    margin-left: 700px;
    margin-top: 800px;
    margin-right: 50px;
}
#map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
        display: block;
    }
    nav ul li a {
        font-size:16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:rgb(97, 33, 54) ;
        right:-100%;
        top:80px;
        left:0;
        text-align:center;
        transition:all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:20px;
    }
    a:hover,a.checckbtn{
        background: none;
        color: rgb(238, 73, 141);
        
    }
    #check:checked ~ ul{
        right:0;
    }

}
body{
    align-items: center;
}
